<div class="auth-container">
  <h2>Entrar</h2>
  <form action="/login" method="post">
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input type="text" name="email" placeholder="Digite seu e-mail" required>
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Digite sua senha" required>
    </div>
    <div class="form-footer">
      <p>Não tem cadastro? <a href="/register">Registre agora!</a></p>
      <input type="submit" value="Entrar">
    </div>
  </form>
</div>