* {
  color: white;
}

body {
  background-color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background-color: #151515;
  border-bottom: 2px solid #F6982d;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 1.5rem;
}

.navbar ul li a {
  transition: .3s;
}

.navbar ul li a:hover {
  color: #f6982d
}

.logo img {
  height: 40px;
  width: 40px;
}

/* CONTAINER BODY */
.container {
  min-height: 75vh;
  padding: 2rem;
}

/* MESSAGES */
.message {
  padding: .8rem;
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto 1rem;
  max-width: 480px;
}

.message.error {
  background-color: #f33838;
  color: white;
  border: 1px solid #e52a2a;
}
.message.success {
  background-color: #2fb028;
  color: white;
  border: 1px solid #30b828;
}


/* LOGIN E REGISTER */
.auth-container {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border-radius: 8px;
  padding: 1.5rem;
}

.auth-container h2 {
  font-size: 1.5rem;
  padding-left: .5rem;
  margin-bottom: 2rem;
  border-left: 4px solid #F6982d;
}

.auth-container a {
  color: #F6982d;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: .6rem;
}

.form-control input,
.form-control textarea {
  padding: .5rem;
  border-radius: 4px;
  border: 0;
  background-color: #222;
}

form input[type='submit'], .btn {
  background-color: transparent;
  color: #F6982d;
  border: 2px solid #F6982d;
  padding: .5rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
}

form input[type='submit']:hover, 
.btn:hover {
  background-color: #F6982d;
  color: white;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; 
}

/* CREATE E EDIT TOUGHT */
.tought-form-container {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border-radius: 8px;
  padding: 1.5rem;
}

.tought-form-container a {
  color: #f6982d;
  transition: .3s;
}

.tought-form-container a:hover {
  color: #FFF;
}

.tought-form-container h1 {
  font-size: 1.2rem;
  padding-left: .5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-left: 4px solid #F6982d;
}

.tought-form-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

/* DASHBOARD */
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;
}

.title-container h2 {
  font-size: 1.2rem;
  padding-left: .5rem;
  border-left: 4px solid #F6982d;  
}

.dashboard {
  max-width: 800px;
  margin: 0 auto;
}

.dashboard h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.dashboard ul {
  list-style: none;
}

.dashboard li {
  border-left: 3px solid #F6982d;  
  background-color: #151515;
  border-radius: 8px;
  padding: 1.5rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dashboard .label {
  font-size: 1.2rem;
}

.dashboard .actions {
  display: flex;
}

.dashboard .actions .btn {
  color: #FFF;
  border-color: #FFF;
  margin-right: .8rem;
}

.dashboard .actions .btn:hover {
  border-color: #F6982d;
}

/* FOOTER */
footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  border-top: 2px solid #F6982d;
}

footer span {
  font-weight: bold;
  color: #F6982d;
}